div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aqua;
  border: 2px solid black;

  position: absolute;
  top: 100px;
  left: 100px;
  animation-name: myAnimate;
  animation-duration: 5s;
  /* animation-timing-function: ease-in;*/
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes myAnimate {
  from 0% {
    background-color: aqua;
  }
  50% {
    background-color: gold;
  }
  to 100% {
    background-color: red;
  }
}
/*@keyframes myAnimate {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}*/
